<h1 class="homeTitle">Welcome to Resto</h1>
<img style="width: 100%; height: 500px" src="https://www.cruiseindustrynews.com/images/stories/wire/2018/nov/DSC_8913.jpg">
<div class="hHeader">
  <h1 class="homeHeader">"We know that our big mentality will continue to propel us to even bigger heights!</h1>
  <h1 class="homeHeader">When our competitors go 'big', we go BIGGER!!"</h1>
</div>
<p style="display: flex; justify-content: center">Resto.inc © 2019</p>