<h1 style="text-align: center">Are you sure you want to delete your account??</h1>
<div class="accountDelete">
<form action="/profile" method="GET">
  <button class="buttons" style= "padding: 20px; background-color: green ">No! Don't delete my account!</button>
</form>
<br>
<form action="/deleteMe/{{currentUser._id}}" method= "POST">
  <button class="buttons" style= "padding: 20px; background-color: red">Delete my account</button>
</form>
</div>