<h1 style="text-align: center">Resto Login</h1>
<div class="logger">
<form action="/login" method="POST">
  <p>Username</p>
  <input type="text" name="username">

  <p>Password</p>
  <input type="password" name="password">
  <br>
  {{#if errorMessage }}
  <div class="error-message">{{ errorMessage }}</div>
  {{/if}}
  <button style="padding: 5px">Login</button>
  <p>Not a user? Click here to <a style="color: blue" href="/signup">sign up!</a></p>
</form>
</div>