<h1 style="text-align: center">{{theUser.username}}'s Resto Profile</h1>

{{#if theUser.isAdmin}}
<div style="height: 400px" class="profile">
  <h1 style="font-size: 3em" id="motive">When our competitors go 'big', we MUST go BIGGER!!"</h1>

</div>
<form  class="buttoner" action="/adder" method="GET">
<button class="buttons" style="background-color: green; border-color: black">Add To Menu</button>
</form>
<form class="buttoner" action="/edit" method="GET">
  <button class="buttons" style="background-color:purple; border-color: black">Edit Menu</button>
</form>
<form class="buttoner" action="/deleter" method="GET">
  <button class="buttons" style="background-color: red; border-color: black" id="remover">Remove From Menu</button>
</form>
{{else}}
  <div class="ab">
    <h2  id="favoriter"><a id="wordFavoriter" href="/favorites">Personal Favorites</a></h2>
    <div>
      <br>
      <br>
      <form class="buttoner" action="/userAdder" method="GET">
        <button class="buttons" style="padding: 5px; background-color: green; border-color: black">Add Personal Dish To
          Favorites</button>
      </form>
      <div></div>
      <form class="buttoner" action="/deleteMe/{{currentUser._id}}" method="GET">
        <button class="buttons" style="padding: 5px; background-color: red; border-color: black ">Delete My Account</button>
      </form>
  </div>
  


{{!-- <h3>Welcome {{theUser.username}}</h3> --}}


{{/if}}
<form class="buttoner" action="/logout" method="POST">
<button class="buttons" style="padding: 5px; border-color: black">Log out</button>
</form>
</div>

<script src="/javascripts/scripter.js"></script>