{{!-- <h1 style="text-align: center">Resto Signup</h1>
<div class="signup">
<form action="/signup" method="POST">


  <p>Username</p>
  <input type="text" name="theUsername">

  <p>Password</p>
  <input type="password" name="thePassword">

<br>
{{#if errorMessage }}
<div class="error-message">{{ errorMessage }}</div>
{{/if}}
<br>

  <button>Sign Up</button>
</form>
</div> --}}
<h1 style="text-align: center">Resto Signup</h1>
<div class="orderPage">
  
  <form action="/signup" method="POST" class="form login">

    <div class="form__field" class="logger">
      <label for="login__username"><svg class="icon">
          <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#user"></use>
        </svg><span class="hidden">Username</span></label>
      <input id="login__username" type="text" name="theUsername" class="form__input" placeholder="Username" required>
    </div>

    <div class="form__field">
      <label for="login__password"><svg class="icon">
          <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#lock"></use>
        </svg><span class="hidden">Password</span></label>
      <input id="login__password" type="password" name="thePassword" class="form__input" placeholder="Password" required>
    </div>

    {{#if errorMessage }}
    <div class="error-message">{{ errorMessage }}</div>
    {{/if}}

    <div class="form__field">
      <input type="submit" value="Sign Up">
    </div>

  </form>

</div>