<form action="/userAdder" method="POST">
  <p>Name</p>
  <input type="text" name="title">

  <p>Type</p>
  <input placeholder="Ex: Sweet Mild" type="text" name="type">
  
  
  <p>Description</p>
  <input placeholder="Ex: Juicy Hot" type="text" name="description">

  <p>Image Address</p>
  <input type="text" name="image">

    <br>
  <button>Add</button>
</form>