<h1 style="text-align: center; font-size: 2em;">About Resto</h1>
<div class="about">
<h2 class="aboutText">Here at resto, we have one sole belief...</h2>
<h2 class="aboutText">That everything shoud be served BIG</h2>
<h2 class="aboutText">This sole belief has been the foundation of our culture since our inauguration</h2>
<h2 class="aboutText">With this belief, we know that we'll always come out BIG even, in the smallest of times...</h2>
<h2 class="aboutText">Thank you for your continued support!</h2>
<h2 id="sign">~Big Resto</h2>
</div>
<p style="display: flex; justify-content: center">Resto.inc © 2019</p>

<script src="/javascripts/scripter.js"></script>