<h1 style="text-align: center; font-size: 2em;">About Resto</h1>
<div class="about">
<p class="aboutText">Here at resto, we have one sole belief...</p>
<p class="aboutText">That everything shoud be served BIG</p>
<p class="aboutText">This sole belief has been the foundation of our culture since our inauguration</p>
<p class="aboutText">With this belief, we know that we'll always come out BIG even, in the smallest of times...</p>
<p class="aboutText">Thank you for your continued support!</p>
<p id="sign">~Resto</p>
</div>
<p style="display: flex; justify-content: center">Resto.inc © 2019</p>