<h1 style="display: flex; justify-content: center; padding: 5px">Menu</h1>

<div class="menu">
  {{#each food}}
  <div class="foodItem">
    <span class="title"><a>{{this.title}}</a></span>
    <br>
    <div class="img"><img class="src" src='{{this.image}}'>
      <div class="text"><a>{{this.type}}</a></div>
      <div class="text"><a>{{this.description}}</a></div>
    </div>
    <br><br>
  </div>
  {{/each}}
</div>
<p style="display: flex; justify-content: center">Resto.inc © 2019</p>

